
mat-card {  width: 100%;  height:100%;  margin: 10px 10px -10px 10px ; }

mat-card-content { overflow: auto; height: 100%; }

mat-card-header { background: #0c1b31; color:#f2f5fd; }

#loading img{ width: 30px; height: 25px; margin-left: 200px; filter: saturate(400%);}

.csearch{   height: 40px;   width: 100%;  margin-top: 5px;    }

#ssearch mat-card-content{   padding-top: 30px; }

#ssearch mat-form-field { padding-left: 15px; width: 200px; }

#ssearch button{ width: 195px; margin-left:10px; margin-top: 5px; background-color: #f00; color: #f2f5fd}

#userform { padding-top: 20px; }

#butpanel button{ width: 82px;margin:3px;background-color: #152054;color: #f2f5fd;}

#listtrnasfer {display: inline-flex; margin-bottom: 30px;margin-left: 10px}

#pnlmiddle button{ margin: 8px; display: block!important;}

.list{ border: solid #152054; border-radius: 5px; max-height: 160px; width: 180px;margin-top: 10px; overflow: auto}

.list mat-list-option{ height: 27px;}

.list .mat-mdc-list-item .mdc-list-item__primary-text{ font-size: 14px!important;}

.selected-row{ background-color: #78b8dd!important; }

.mat-row:hover { background-color: inherit!important; }

#userform mat-form-field .ng-dirty{
  background-color: #d4d881;
}


button:disabled {
  opacity: 0.5;
}

#btnPwdGenerate{
  margin-top: -5px;
  margin-bottom: 17px;
  padding-left: 350px;
  position: inherit;
}
#btnPwdGenerate button{
  background-color: #f00;color: white;
}
