<mat-toolbar>
  <mat-toolbar-row style="background-image: url('assets/GNH1.png')">

    <span class="toolbar-left">
      <button mat-icon-button (click)="opened=!opened" class="btn-nav"><mat-icon>menu</mat-icon></button>
      <img src="/assets/GNL8.png" class="img-logo">
    </span>

    <span class="toolbar-right">
      <label class="lbl-user">{{ authService.getUsername()}}</label>
      <img [src]="userImage" class="img-user"/>
      <button mat-icon-button (click)="logout()" class="btn-logout"><mat-icon>exit_to_app</mat-icon></button>
    </span>

  </mat-toolbar-row>
</mat-toolbar>

<mat-sidenav-container>

  <mat-sidenav [(opened)]="opened" mode="side">



    <mat-nav-list>

      <mat-list-item routerLink="home"><mat-icon>home</mat-icon>Home</mat-list-item>

      <ng-container *ngFor="let menuItem of menuGroup">
        <ng-container *ngIf="isMenuVisible(menuItem.Menu)">

          <!-- direct: true -> flat link straight to the single item's route -->
          <mat-list-item *ngIf="menuItem.direct; else expandable"
                         [routerLink]="menuItem.MenuItems[0].routerLink">
            <mat-icon>{{ matIcons[menuItem.Menu] }}</mat-icon>{{ menuItem.displayName }}
          </mat-list-item>

          <!-- direct: false -> expansion panel with sub-items -->
          <ng-template #expandable>
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-list-item>
                  <mat-icon>{{ matIcons[menuItem.Menu] }}</mat-icon>{{ menuItem.displayName }}
                </mat-list-item>
              </mat-expansion-panel-header>
              <ng-container *ngFor="let subItem of menuItem.MenuItems">
                <mat-list-item *ngIf="subItem.isVisible" [routerLink]="subItem.routerLink">
                  {{ subItem.displayName }}
                </mat-list-item>
              </ng-container>
            </mat-expansion-panel>
          </ng-template>

        </ng-container>
      </ng-container>

    </mat-nav-list>

    <!--        <mat-nav-list>-->

<!--      <mat-list-item routerLink="home"><mat-icon>home</mat-icon>Home</mat-list-item>-->

<!--     &lt;!&ndash; Dynamically add Mat Expansion Panels with Menus and Menu Items &ndash;&gt;-->
<!--      <ng-container *ngFor="let menuItem of menuGroup">-->
<!--        <mat-expansion-panel *ngIf="isMenuVisible(menuItem.Menu)">-->
<!--          <mat-expansion-panel-header>-->
<!--            <mat-list-item>-->
<!--              <mat-icon>{{ matIcons[menuItem.Menu] }}</mat-icon>{{ menuItem.displayName }}-->
<!--            </mat-list-item>-->
<!--          </mat-expansion-panel-header>-->
<!--          <ng-container *ngFor="let menuItem of menuItem.MenuItems">-->
<!--            <mat-list-item *ngIf="menuItem.isVisible">-->
<!--              <mat-list-item [routerLink]="menuItem.isVisible ? menuItem.routerLink : null"><a>{{ menuItem.displayName }}</a></mat-list-item>-->
<!--            </mat-list-item>-->
<!--          </ng-container>-->
<!--        </mat-expansion-panel>-->
<!--      </ng-container>-->

<!--      <mat-list-item>-->
<!--        <a routerLink="reports"><mat-icon>poll</mat-icon>Report</a>-->
<!--      </mat-list-item>-->

<!--    </mat-nav-list>-->
  </mat-sidenav>

  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>

</mat-sidenav-container>
